<h1 class="my-5 text-center create-new">Sign In</h1>
<%= form_tag '/login', :id => 'new_session' do %>
<%= label_tag 'Name',''%>
<%= text_field_tag :name, nil, placeholder:'Name' %>
<hr>
<%= submit_tag 'Sign In',class:'btn btn-primary'%>
<%end%>
