<h1>Login</h1>
<%= form_tag '/login', :id => 'new_session' do %>
  <%= label_tag 'Name',''%>
  <%= text_field_tag :name, nil, placeholder: 'Login Name' %>
  <hr>
  <%= submit_tag 'Login',class: 'btn btn-primary'%>
<%end%>