<% provide(:title, "Tasks") %>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-5 text-center create-new ">Editing Task</h1>
    <%= render 'form', task: @task %>
</div>
