<% provide(:title, "Tasks") %>
<div class="total-task d-flex flex-column px-2 position-relative">
    <div class="task-total fw-bold  d-flex justify-content-center align-items-center mt-1 mb-4">
        <span class="me-2">
            Tasks:<%=@tasks.count%>
        </span>
        <span>
            Total: <%= total_tasks_hours(@tasks)  %>
        </span>
    </div>
    <%= render 'task' %>
    <div class="new-task-btn text-center bg-succes position-fixed d-flex align-items-center justify-content-center">
        <%= link_to 'New Task', new_task_path, class:'text-white text-decoration-none new-task' %>
    </div>
</div>